
.navbar{
    width: 1200px;
    height: 70px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #94f54a;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 25px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #94f54a;
}


.btn{
    width: 100px;
    height: 40px;
    background: #94f54a;
    border: 2px solid #94f54a;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}
/* CSS สำหรับส่วน background ของ body */
body {
    background-color: #f8f0f0;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(img/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}


main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
}

form {
    width: 200px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.post {
    margin: 20px auto 60px auto;
    padding: 8px;
    background-color: #f9f9f9;
    border: 5px solid #b0f467;
    border-radius: 20px;
    max-width: 500px; /* กำหนดความกว้างสูงสุดของ .post */
    text-align: center;
}

footer {
    text-align: center;
    position: relative; /* เพิ่มคุณสมบัติ position */
    margin-top: 50px;
    bottom: 50px; /* ปรับค่า bottom ตามที่คุณต้องการ */
}

footer a {
    text-decoration: none;
    background-color: #4f87f0;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 0 20px;
    font-size: 30px;
    border-radius: 10px;
}

footer a:hover {
    background-color: #45a049;
}

.sidebar a:hover {
    background-color: #555; /* สีพื้นหลังเมื่อ hover ที่ลิงก์ */
}


#logoutBtn {
    background-color: #e05252;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#logoutBtn:hover {
    background-color: #c13f4e;
}

.content {
    width: 700px;
    height: auto;
    margin: auto 2px ; /* จาก 40px ที่เดิมเป็น 0 บน */
    color: #040404;
    position: relative;
    max-width: 800px;
    overflow: auto; /* เพิ่มการเลื่อนกรอบหากมีเนื้อหาเพิ่มขึ้น */
    padding: 0px 70px; /* เพิ่ม padding เพื่อลดความสูง */
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #f5974a;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #f57d4a;
    font-size: 65px
}
